---
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'PineHill',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <div class="w-full banner-area h-auto">
    <div class="bg-black absolute w-full hidden md:block" style="z-index: 2; opacity:0.5"></div>
    <img src="/resized/reception.jpg" class="w-full h-auto -mt-20" alt="" />

    <div class="top-24 absolute w-full hidden md:block" style="z-index: 3;">
      <div class="w-1/2 lg:w-1/3 mx-auto">
        <span class="text-white text-sm block text-center bg-opacity-0 mt-20 mb-5">WELCOME TO</span>
        <span class="text-white font-bold text-4xl block text-center bg-opacity-0">PineHill Resort Kalaw</span>
        <span class="text-white text-sm block text-center bg-opacity-0 mt-5"
          >If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You
          may see some for as low as $.17 each.</span
        >

        <a
          href="https://web.archive.org/web/20230929034233/https://mmhs.mmhotelsystem.com/?a=main&hid=99&cust=Pine%20Hill%20Resort"
          target="_blank"
          class="block w-1/4 text-center px-3 py-2.5 rounded bg-primary-500 text-white font-bold text-sm mt-10 mx-auto cursor-pointer hover:bg-primary-600"
          >GET STARTED</a
        >
      </div>
    </div>
  </div>

  <div class="w-full my-20">
    <div class="mx-auto w-9/12 mb-6">
      <h3 class="text-center font-bold text-2xl text-gray-600 mb-3">Hotel Accomodation</h3>
      <p class="text-center text-gray-400 mb-20 text-sm">
        We all live in an age that belongs to the young at heart. Life that is becoming extremely fast
      </p>
    </div>

    <div class="lg:w-9/12 md:w-full mx-auto grid lg:grid-cols-4 md:grid-cols-2 gap-2 gap-y-10 place-items-center">
      <div class="max-w-sm relative shadow-lg rounded-lg cursor-pointer parent-div h-80 md:w-64">
        <img
          style="transition: transform 0.8s ease;"
          src="/resized/101-indoor.jpg"
          alt=""
          class="w-full h-auto object-cover rounded-lg rounded-b-none img-hover"
        />
        <a
          href="https://web.archive.org/web/20230929034233/https://mmhs.mmhotelsystem.com/?a=main&hid=99&cust=Pine%20Hill%20Resort"
          target="_blank"
          class="absolute inline-block bg-primary-500 text-white px-3 py-2 rounded text-xs drop-shadow-sm hover:bg-primary-600"
          style="top:100px; margin-left:100px"
        >
          BOOK NOW
        </a>
        <div
          class="absolute bottom-0 text-sm left-0 right-0 h-40 backdrop-blur p-4 py-8 bg-gray-200 rounded-b-lg text-gray-600"
        >
          <h1 class="text-lg font-semibold text-center text-primary-500">Superior Room</h1>

          <span class="mt-2 block"><span class="font-bold">Room Types</span>: Single / Double / Triple</span>
          <span class="mt-2 block"><span class="font-bold">No. of Room</span>: 26 Rooms</span>
        </div>
      </div>
      <div class="max-w-sm relative shadow-lg rounded-lg cursor-pointer parent-div h-80 md:w-64">
        <img
          style="transition: transform 0.8s ease; object-fit: cover;"
          src="/resized/102-indoor.jpg"
          alt=""
          class="w-full h-auto object-cover rounded-lg rounded-b-none img-hover"
        />
        <a
          href="https://web.archive.org/web/20230929034233/https://mmhs.mmhotelsystem.com/?a=main&hid=99&cust=Pine%20Hill%20Resort"
          target="_blank"
          class="absolute inline-block bg-primary-500 text-white px-3 py-2 rounded text-xs drop-shadow-sm hover:bg-primary-600"
          style="top:100px; margin-left:100px">BOOK NOW</a
        >
        <div
          class="absolute bottom-0 text-sm left-0 right-0 h-40 backdrop-blur p-4 py-8 bg-gray-200 rounded-b-lg text-gray-600"
        >
          <h1 class="text-lg font-semibold text-center text-primary-500">Deluxe Room</h1>

          <span class="mt-2 block"><span class="font-bold">Room Types</span>: Single / Double / Triple</span>
          <span class="mt-2 block"><span class="font-bold">No. of Room</span>: 33 Rooms</span>
        </div>
      </div>
      <div class="max-w-sm relative shadow-lg rounded-lg cursor-pointer parent-div h-80 md:w-64">
        <img
          style="transition: transform 0.8s ease; object-fit: cover;"
          src="/resized/201-indoor.jpg"
          alt=""
          class="w-full h-auto object-cover rounded-lg rounded-b-none img-hover"
        />
        <a
          href="https://web.archive.org/web/20230929034233/https://mmhs.mmhotelsystem.com/?a=main&hid=99&cust=Pine%20Hill%20Resort"
          target="_blank"
          class="absolute inline-block bg-primary-500 text-white px-3 py-2 rounded text-xs drop-shadow-sm hover:bg-primary-600"
          style="top:100px; margin-left:100px">BOOK NOW</a
        >
        <div
          class="absolute bottom-0 text-sm left-0 right-0 h-40 backdrop-blur p-4 py-8 bg-gray-200 rounded-b-lg text-gray-600"
        >
          <h1 class="text-lg font-semibold text-center text-primary-500">Royal Family</h1>

          <span class="mt-2 block"><span class="font-bold">Room Types</span>: Single</span>
          <span class="mt-2 block"><span class="font-bold">No. of Room</span>: 1 Room</span>
        </div>
      </div>
      <div class="max-w-sm relative shadow-lg rounded-lg cursor-pointer parent-div h-80 md:w-64">
        <img
          style="transition: transform 0.8s ease; object-fit: cover;"
          src="/resized/201-indoor-2.jpg"
          alt=""
          class="w-full h-auto object-cover rounded-lg rounded-b-none img-hover"
        />
        <a
          href="https://web.archive.org/web/20230929034233/https://mmhs.mmhotelsystem.com/?a=main&hid=99&cust=Pine%20Hill%20Resort"
          target="_blank"
          class="absolute inline-block bg-primary-500 text-white px-3 py-2 rounded text-xs drop-shadow-sm hover:bg-primary-600"
          style="top:100px; margin-left:100px">BOOK NOW</a
        >
        <div
          class="absolute bottom-0 text-sm left-0 right-0 h-40 backdrop-blur p-4 py-8 bg-gray-200 rounded-b-lg text-gray-600"
        >
          <h1 class="text-lg font-semibold text-center text-primary-500">Royal Suite</h1>

          <span class="mt-2 block"><span class="font-bold">Room Types</span>: Single</span>
          <span class="mt-2 block"><span class="font-bold">No. of Room</span>: 2 Room</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Features2 Widget ************** -->

  <div class="w-full bg-gray-800 my-5 py-10">
    <Features2
      title="Royal Facilities"
      subtitle="Who are in extremely love with eco friendly system."
      tagline=""
      items={[
        {
          title: 'Restaurant',
          description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
          icon: 'flat-color-icons:template',
        },
        {
          title: 'Bar',
          description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
          icon: 'flat-color-icons:currency-exchange',
        },
        {
          title: 'Souvenir Shop',
          description:
            "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
          icon: 'flat-color-icons:document',
        },
        {
          title: 'Fitness Center',
          description:
            "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
          icon: 'flat-color-icons:gallery',
        },
        {
          title: 'Suana Room',
          description:
            'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
          icon: 'flat-color-icons:advertising',
        },
        {
          title: 'Swimming Pool',
          description:
            'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
          icon: 'flat-color-icons:approval',
        },

        {
          title: 'Meeting Room',
          description:
            "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
          icon: 'flat-color-icons:document',
        },
        {
          title: 'Free Wifi',
          description:
            "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
          icon: 'flat-color-icons:document',
        },
        {
          title: 'Business Center',
          description:
            "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
          icon: 'flat-color-icons:document',
        },
      ]}
    >
      <Fragment slot="bg">
        <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
      </Fragment>
    </Features2>
  </div>

  <!-- Content Widget **************** -->

  <div class="lg:w-9/12 mx-auto">
    <Content
      isReversed
      tagline=""
      title=""
      items={[]}
      image={{
        src: '/bangalow/Exterior2.jpg',
        alt: 'Colorful Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl">About Us</h3>
        <h3 class="ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl">Our History</h3>
        <h3 class="ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl">Mission & Vision</h3>
        <p class="ml-10 mt-10 md:text-sm text-gray-500">
          Inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
          especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond
          reproach. inappropriate behavior is often laughed.
        </p>
        <span class="ml-10 inline-block mt-10 px-5 py-2 bg-primary-500 rounded text-white text-sm font-semibold"
          >Contact Us</span
        >
      </Fragment>
    </Content>
  </div>

  <Content
    isAfterContent
    items={[
      {
        title: 'Kalaw Sightseeing',
        description: ``,
      },
      {
        title: 'Laundry Service',
        description: '',
      },
      {
        title: 'Car Rental Service',
        description: '',
      },
      {
        title: 'Complimentary Bicycle Service',
        description: '',
      },
      {
        title: 'Karaoke',
        description: '',
      },
      {
        title: 'Transportation Service',
        description: '',
      },
      {
        title: 'Local Trekking Guide Services',
        description: '',
      },
      {
        title: 'Spa',
        description: '',
      },
    ]}
    image={{
      src: '/Dinning/Dinning1.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="ml-10 text-xl font-bold tracking-tight dark:text-white sm:text-2xl">Guest Services</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <div class="w-full bg-blue-50">
    <Testimonials
      title="Words from real customers"
      subtitle="See what other people are saying about Pine Hill Resort."
      testimonials={[
        {
          testimonial: `Pleasant surprise large rooms top shower & other facilities. I believe we were in newer rooms
Heated pool , clean & a good base to look around Kalaw.
Also top massage for wife. Rest for breakfast was OK`,
          name: 'Su T. of New Zealand',
          job: 'September 2015',
          image: {
            src: '/user.png',
            alt: 'Emily Kennedy Image',
          },
        },
        {
          testimonial: `Pleasant surprise large rooms top shower & other facilities. I believe we were in newer rooms
Heated pool , clean & a good base to look around Kalaw.
Also top massage for wife. Rest for breakfast was OK`,
          name: 'Sarah Hansen',
          job: 'Photographer',
          image: {
            src: '/user.png',
            alt: 'Sarah Hansen Image',
          },
        },
        {
          testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
          name: 'John C',
          job: 'October 2015',
          image: {
            src: '/user.png',
            alt: 'Mark Wilkinson Image',
          },
        },
      ]}
      callToAction={{
        target: '_blank',
        text: 'More testimonials...',
        href: '/review',
        icon: 'tabler:chevron-right',
      }}
    />
  </div>

  <div class="w-full my-10" id="popular">
    <div class="lg:w-9/12 mx-auto mb-10">
      <h3 class="text-center font-bold text-2xl text-gray-600 mb-3">Nearby Kalaw</h3>
      <p class="text-center text-gray-400 text-sm">Famous places in Kalaw</p>
    </div>
    <div class="lg:w-9/12 md:w-full mx-auto grid lg:grid-cols-4 md:grid-cols-2 gap-2 gap-y-10 place-items-center">
      <div class="max-w-sm px-3">
        <div
          class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 pb-10 parent-div relative"
          style="height: 400px;"
        >
          <a href="#">
            <img
              class="rounded-t-lg img-hover"
              style="transition: transform 0.8s ease;"
              src="https://flowbite.com/docs/images/blog/image-1.jpg"
              alt=""
            />
          </a>
          <div class="p-5 pt-4 absolute bottom-0 text-sm left-0 right-0 z-3 bg-white">
            <a href="#">
              <h5 class="text-gray-900 font-semibold text-lg tracking-tight mb-2">Shwe U Min Pagoda</h5>
            </a>
            <span class="text-xs inline-block rounded mb-2 px-3 py-2 border border-green-500 text-gray-500 italic"
              >Pine Hill Resort is less than 3 km to Shwe U Min Pagoda</span
            >
            <a
              href="/places"
              class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
              >Read More...</a
            >
          </div>
        </div>
      </div>
      <div class="max-w-sm px-3">
        <div
          class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 pb-10 parent-div relative"
          style="height: 400px;"
        >
          <a href="#">
            <img
              class="rounded-t-lg img-hover"
              style="transition: transform 0.8s ease;"
              src="https://flowbite.com/docs/images/blog/image-1.jpg"
              alt=""
            />
          </a>
          <div class="p-5 pt-4 absolute bottom-0 text-sm left-0 right-0 z-3 bg-white">
            <a href="#">
              <h5 class="text-gray-900 font-semibold text-lg tracking-tight mb-2">Palaung Village</h5>
            </a>
            <span class="text-xs inline-block rounded mb-2 px-3 py-2 border border-green-500 text-gray-500 italic"
              >Pine Hill Resort is less than 3 km to Palaung Village</span
            >
            <a
              href="/places"
              class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
              >Read More...</a
            >
          </div>
        </div>
      </div>
      <div class="max-w-sm px-3">
        <div
          class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 pb-10 parent-div relative"
          style="height: 400px;"
        >
          <a href="#">
            <img
              class="rounded-t-lg img-hover"
              style="transition: transform 0.8s ease;"
              src="https://flowbite.com/docs/images/blog/image-1.jpg"
              alt=""
            />
          </a>
          <div class="p-5 pt-4 absolute bottom-0 text-sm left-0 right-0 z-3 bg-white">
            <a href="#">
              <h5 class="text-gray-900 font-semibold text-lg tracking-tight mb-2">
                Nee Paya
                <!-- <span class="text-xs">(Bamboo Buddha Statue)</span> -->
              </h5>
            </a>
            <span class="text-xs inline-block rounded mb-2 px-3 py-2 border border-green-500 text-gray-500 italic"
              >Pine Hill Resort is less than 3 km to Nee Paya (Bamboo Buddha Statue)</span
            >
            <a
              href="/places"
              class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
              >Read More...</a
            >
          </div>
        </div>
      </div>
      <div class="max-w-sm px-3">
        <div
          class="bg-white shadow-md border border-gray-200 rounded-lg max-w-sm mb-5 pb-10 parent-div relative"
          style="height: 400px;"
        >
          <a href="#">
            <img
              class="rounded-t-lg img-hover object-cover"
              style="transition: transform 0.8s ease;"
              src="https://flowbite.com/docs/images/blog/image-1.jpg"
              alt=""
            />
          </a>
          <div class="p-5 pt-4 absolute bottom-0 text-sm left-0 right-0 z-3 bg-white">
            <a href="#">
              <h5 class="text-gray-900 font-semibold text-lg tracking-tight mb-2">Myin Ma Hti Cave</h5>
            </a>
            <span class="text-xs inline-block rounded mb-2 px-3 py-2 border border-green-500 text-gray-500 italic"
              >Pine Hill Resort is less than 3 km to Myin Ma Hti Cave</span
            >
            <a
              href="/places"
              class="text-xs hover:bg-primary-700 font-bold inline-block bg-primary-500 text-white rounded px-3 py-2"
              >Read More...</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .banner-area {
      /* height: 800px; */
      position: relative;
      overflow: hidden;
    }
    #popular .parent-div:hover .img-hover {
      transform: scale(1.5) rotate(10deg);
    }
    .parent-div:hover .img-hover {
      transform: scale(1.3);
    }
    /* .img-hover {
            transform .2s;
        } */
    .parent-div {
      /* width: 320px; */
      /* height: 390px; */
      overflow: hidden;
      position: relative;
    }
  </style>
</Layout>
